.information {
  @include content;
  @include content-margin;
  background-image: url("../img/planets-and-ship(mobile).png");
  background-repeat: no-repeat;
  background-size: 320px 1288px;
  padding-top: 40px;
  padding-bottom: 170px;
  background-position-y: bottom;
}

.information__paper {
  padding-top: 23px;
  margin-bottom: 19px;
}

.information__paper-title {
  margin-bottom: 11px;
}

.information__paper-text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .information {
    @include tablet-content;
    background-image: url("../img/planets-and-ship(tablet).png");
    background-size: 750px 1774px;
    padding-top: 54px;
    padding-bottom: 208px;
  }

  .information__wrapper-paper {
    display: flex;
    justify-content: space-between;
  }

  .information__paper {
    width: 48%;
    padding-top: 51px;
  }
}
