.luminous-button {
  display: flex;
  width: auto;
  font-family: "ProximaNova", "Arial", sans-serif;
  font-size: 18px;
  color: $pink-bright;
  background-color: $white-color;
  border: none;
  border-radius: 28px;
  font-weight: 700;
  min-height: 57px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px $white-color;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: 0 0 60px $white-color;
  }

  &:focus {
    box-shadow: inset 0 4px 10px $pink-bright;
  }
}

@media (min-width: $tablet-width) {
  .luminous-button {
    width: 199px;
    padding: 15px 10px 15px 13px;
    align-items: flex-start;
    // padding-top: 15px;
    // padding-left: 13px;
    // padding-right: 10px;
    // padding-bottom: 15px;
  }
}
