.questions {
  color: $white-color;
  background-color: $blue-dark;
  background-image: url("../img/substrate-questions.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 1309px;
  background-repeat-y: repeat;
  min-width: 320px;
}

.questions__wrapper {
  @include content;
  @include content-margin;
  padding-top: 58px;
  padding-bottom: 52px;
}

.questions__wrapper-video-picture {
  position: relative;
  padding-top: 44px;

  &::before {
    position: absolute;
    top: 104px;
    left: 119px;
    width: 52px;
    height: 52px;
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    content: "";
  }
}

.questions__item {
  margin-top: 38px;
  padding-bottom: 3px;
}

.questions__cell-checkbox:checked + .questions__label {
  @include proxima-bold;
  font-size: 18px;
  color: $white-color;
}

.questions__cell-checkbox:checked ~ .questions__wrapper-text {
  // opacity: 1;
  transform: scaleY(1);
  padding-top: 22px;
  padding-bottom: 8px;
  // visibility: visible;
  max-height: 5000px;
}

.questions__cell-checkbox:checked ~ .questions__wrapper-text .questions__text {
  // display: block;
  // font-size: 16px;
  // line-height: 24px;
  padding-top: 11px;
}

.questions__label {
  color: $blue-light;
  padding-right: 33px;
}

.questions__wrapper-text {
  overflow: hidden;
  // opacity: 0;
  transform: scaleY(0);
  transition-duration: 0.8s;
  transition-property: all;
  // visibility: hidden;
  max-height: 0;
}

.questions__text {
  // overflow: hidden;
  // display: none;
  margin: 0;
  // font-size: 0;
  // line-height: 0;
  // transition-delay: 0.5s;
  // padding-top: 0;
  // padding-top: 11px;
}
