.title {
  @include proxima-bold;
  font-size: 36px;
  line-height: 43px;
  color: $white-color;

  &--red {
    color: $red-color;
  }
}

.title-paper {
  @include proxima-bold;
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 48px;
  }
}
