$dark-text: #4c4c4c;

$white-color: #ffffff;

$crimson-color: #971650;

$crimson-dark: #811463;

$crimson-light: #9b1349;

$pink-color: #ffcfdf;

$red-color: #e12457;

$red-opacity: rgba(225, 36, 87, 0.6);

$light-pink: #fff5f8;

$pink-border: #fbd6e0;

$wrapper-mask: #010a33;

$violet-dark: #8d2e89;

$violet-light:#a52e75;

$pink-bright: #c2529a;

$blue-dark: #1b1739;

$blue-light:#908bb1;
