$dark-text: #4d4d4d;

$white-color: #ffffff;

$crimson-color: #971650;

$crimson-dark: #811463;

$crimson-light: #9b1349;

$pink-color: #ffcfdf;

$red-color: #e12457;

$red-opacity: rgba(225,36,87,0.6);
