@font-face {
  font-family: "ProximaNova";
  src:
    url("../fonts/ProximaNovaAltLight.woff2") format("woff2"),
    url("../fonts/ProximaNovaAltLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src:
    url("../fonts/ProximaNovaBold.woff2") format("woff2"),
    url("../fonts/ProximaNovaBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
